body{
  background-color: white;
  font-weight: bold;
}
header{
  background-color: blueviolet;
  color: #000;
}
nav{
  color: darkblue;
}
h2{
  background-color: mediumvioletred;
}
dl{
  color: darkmagenta;
}
p{
  color: black;
}
dl{
  color: darkmagenta;
}




